div {
    height:1000px;
    width:100%;
}
#home {
    background-color:black;
}
#about {
    background-color:green;
}
#work {
    background-color:blue;
}
#contact {
    background-color:orange;
}
header {
    background-color: #520833;
    color:ffffff;
    height: 100px;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}